<footer class="full-footer">
    <div class="full">
        <div class="footer-header-flex">
            <a href="{{ url_for('homepage') }}">
                <img src="{{ url_for('static', filename = 'images/logo.svg') }}" alt="logo">
            </a>
            <a href="#" class="footer-call">
            </a>
        </div>
        <div class="footer-middle footer-row" id="footer">
            <div class="foooter-col">
                <h3 class="footer-list-head">
                    <a href="#" title="Fərdi müştərilər">Fərdi müştərilər</a>
                </h3>
                <ul class="footer-nav-list">
                    <li><a href="{{ url_for('individual_deposit') }}">Əmanətlər</a></li>
                    <li><a href="https://www.rabitabank.com/ferdi-kreditler">Kreditlər</a></li>
                    <li><a href="{{ url_for('card_offer') }}">Kartmane</a></li>
                    <li><a href="https://www.rabitabank.com/onlayn-xidmetler">Onlayn xidmətlər</a></li>
                    <li><a href="https://www.rabitabank.com/suretli-pul-kocurmeleri">Pul köçürmələri</a></li>
                    <li><a href="{{ url_for('campaigns') }}">Kampaniyalar</a></li>
                    <li><a href="https://www.rabitabank.com/filiallar">Xidmət şəbəkəsi</a></li>
                    <li><a href="{{ url_for('deposit_page', name = 'saxlanc-seyfleri') }}">Saxlanc seyfləri</a></li>
                </ul>
            </div>
            <div class="foooter-col">
                <h3 class="footer-list-head">
                    <a href="https://www.rabitabank.com/biznes" title="Biznes müştərilər">Biznes müştərilər</a>
                </h3>
                <ul class="footer-nav-list">
                    <li><a href="https://www.rabitabank.com/biznes-emanetleri">Əmanətlər</a></li>
                    <li><a href="https://www.rabitabank.com/biznesiniz-ucun">Kreditlər</a></li>
                    <li><a href="https://www.rabitabank.com/kartmanebiz-1">Plastik Kartlar</a></li>
                    <li><a href="https://www.rabitabank.com/bank-xidmetleri-1">Bank xidmətləri</a></li>
                    <li><a href="https://www.rabitabank.com/filiallar">Xidmət şəbəkəsi</a></li>
                    <li><a href="{{ url_for('campaigns') }}">Kampaniyalar</a></li>
                </ul>
            </div>
            <div class="foooter-col">
                <h3 class="footer-list-head">
                    <a href="https://www.rabitabank.com/umumi-melumat" title="Bank haqqında">Bank haqqında</a>
                </h3>
                <ul class="footer-nav-list">
                    <li><a href="https://www.rabitabank.com/umumi-melumat">Ümumi məlumat</a></li>
                    <li><a href="https://www.rabitabank.com/bankin-tarixi">Bankın tarixi</a></li>
                    <li><a href="https://www.rabitabank.com/rehberlik">Rəhbərlik</a></li>
                    <li><a href="https://www.rabitabank.com/teskilati-struktur">Təşkilatı Struktur</a></li>
                    <li><a href="https://www.rabitabank.com/banklararasi-biznes">Banklararası biznes</a></li>
                    <li><a href="https://www.rabitabank.com/partnyorlarimiz">Partnyorlarımız</a></li>
                    <li><a href="https://www.rabitabank.com/xeberler-ve-elanlar">Xəbərlər və Elanlar</a></li>
                    <li><a href="https://www.rabitabank.com/tender-elanlari">Tender elanları</a></li>
                    <li><a href="https://www.rabitabank.com/istehlakcilarin-muracieti">İstehlakçıların müraciəti</a></li>
                    <li><a href="https://www.rabitabank.com/faq">FAQ</a></li>
                    <li><a href="https://www.rabitabank.com/tehlukesizliyiniz-qorunur">Təhlükəsizlik</a></li>
                </ul>
            </div>
            <div class="foooter-col">
                <h3 class="footer-list-head">
                    <a href="https://www.rabitabank.com/deyerlerimiz" title="İnsan resursları">İnsan resursları</a>
                </h3>
                <ul class="footer-nav-list">
                    <li><a href="https://www.rabitabank.com/deyerlerimiz">Dəyərlərimiz</a></li>
                    <li><a href="https://www.rabitabank.com/mukafatlandirma-siyaseti">Mükafatlandırma siyasəti</a></li>
                    <li><a href="https://www.rabitabank.com/vakansiyalar">Vakansiyalar</a></li>
                    <li><a href="#">Şikayət və təkliklər</a></li>
                </ul>
            </div>
            <div class="foooter-col">
                <h3 class="footer-list-head">
                    <a href="https://www.rabitabank.com/risklerin-idare-edilmesi" title="İnvestorlarla Əlaqə">İnvestorlarla Əlaqə</a>
                </h3>
                <ul class="footer-nav-list">
                    <li><a href="https://www.rabitabank.com/risklerin-idare-edilmesi">Risklərin idarə edilməsi</a></li>
                    <li><a href="https://www.rabitabank.com/cirkli-pullarin-yuyulmasina-qarsi-fealiyyet">Çirkli pulların yuyulmasına qarşı fəaliyyət</a></li>
                    <li><a href="https://www.rabitabank.com/hesabatlar">Hesabatlar</a></li>
                    <li><a href="https://www.rabitabank.com/yuklemeler-ve-destek">Yükləmələr və dəstək</a></li>
                </ul>
            </div>
            <div class="foooter-col">
                <h3 class="footer-list-head"><a href="#" title="Baş Ofis">Baş Ofis</a>
                </h3>
                <ul class="footer-nav-list">
                    <li><a
                            href="https://www.google.com/maps/search/28+May+m+Bak%C4%B1,+1010,+Az%C9%99rbaycan/@40.3887263,49.827225,14z/data=!3m1!4b1">Azərbaycan,
                            Bakı şəh., AZ 1010, 28 May küç. 33</a>
                    </li>
                    <li><a href="tel: (994 12) 598 44 88">Tel.: (994 12) 598 44 88</a></li>
                    <li><a href="tel: (994 12) 497 11 01">Faks: (994 12) 497 11 01</a></li>
                    <li><a href="#footer">Teleks: 142453 RSKBAI</a></li>
                    <li><a href="mailto:133@rabitabank.com">133@rabitabank.com</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-app">
            <a href="https://infobank.az/"><img class="footer-app-img"
                    src="{{ url_for('static', filename = 'images/infobank.webp') }}" alt="url image"></a>
            <a href="https://bizimpullar.az/"><img class="footer-app-img"
                    src="{{ url_for('static', filename = 'images/msp.webp') }}" alt="url image"></a>
            <a href="https://apps.apple.com/us/app/rabitabank-mobile/id1457972986"><img
                    src="{{ url_for('static', filename = 'images/iphone.svg') }}" class="footer-app-img-opc"
                    alt="url image"></a>
            <a href="https://play.google.com/store/apps/details?id=com.rabitabank&hl=Az_az"><img
                    src="{{ url_for('static', filename = 'images/play_store.svg') }}" class="footer-app-img-opc"
                    alt="url image"></a>
        </div>
        <div class="social-media">
            <div class="first-part">
                <p>Rabitəbank ASC Azərbaycan Mərkəzi Bankın 136 saylı lisenziyası
                    əsasında fəaliyyət göstərir. © Rabitəbank 2022</p>
            </div>
            <div class="second-part">
                <ul class="social-media-icon">
                    <li><a href="https://www.facebook.com/rabitabank"><i
                                class="fa-brands fa-facebook-f fa-2xl hover-ele"></i></a></li>
                    <li><a href="https://twitter.com/Rabitabank"><i class="fa-brands fa-twitter fa-2xl"></i></a></li>
                    <li><a href="https://www.instagram.com/rabita_bank/"><i
                                class="fa-brands fa-instagram fa-2xl"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCcDVfNQHex3COufXV4xRP1w"><i
                                class="fa-brands fa-youtube fa-2xl"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/rabitabank-ojsc/"><i
                                class="fa-brands fa-linkedin fa-2xl"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>