<header class="header" id="myHeader">
    <div class="up col-9 align-items-center d-flex justify-content-between m-auto" style="height: 60px;">
        <div class="d-flex align-items-center ">
            <a href="{{url_for('homepage')}}" style="display:block ;">
                <img src="https://www.rabitabank.com/images/rabitebank.svg" alt="....">
            </a>
            <ul class="d-flex m-0 align-items-center " style="justify-content: space-evenly; width: 155px; ">
                <li><a href="{{ url_for('homepage') }}" id="individual-section" class="active" style="font-size:20px; font-weight: 700; ">Fərdi</a></li>
                <li style="font-size: 20px; font-weight: 500;">/</li>
                <li><a href="https://www.rabitabank.com/biznes" id="bisness-section" style="font-size:20px; font-weight: 700; color: #adb6bf;">Biznes</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <button style="background-color: white ; border: none;"> <i class="fa-solid fa-magnifying-glass "
                    style="font-size: x-large; margin-right: 20px;"></i></button>
            <div class="d-flex gap-4">                    
                <a href="https://ib.rabitabank.com/InterBank/" target="_blank"
                    style="font-weight: 600 ; margin-right: 15px;color: #15334a;">İnternet bankçılıq →</a>
                <a href="" class="call-133"> <img src="https://www.rabitabank.com/assets/css/images/133_header.png"
                        alt="" style="width:50px ;"></a>
                <li class="nav-item dropdown" style="list-style-type: none;">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link active dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false" style="font-weight: 600 ; margin-right: 15px;color: #15334a;">
                    {% else %}
                    <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false" style="font-weight: 600 ; margin-right: 15px;color: #15334a;">
                    {% endif %}
                      {% if current_user.is_authenticated %}
                        {{ current_user.username }}
                      {% else %}
                        İstifadəçi
                      {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if current_user.is_authenticated %}
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Çıxış et <i class="fa-solid fa-arrow-right-from-bracket ms-3"></i></a>
                      {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('login') }}">Giriş et <i class="fa-solid fa-arrow-right-to-bracket ms-3"></i></a></li>
                        <li><a class="dropdown-item" href="{{ url_for('register') }}">Qeydiyyat <i class="fa-solid fa-registered ms-3"></i></a></li>
                      {% endif %}
                    </ul>
                  </li>
            </div>
        </div>
    </div>
    <hr style="margin: 10px; height: 0.5px;">
    <div class="down col-9 align-items-center d-flex justify-content-between m-auto mb-3">
        <div>
            <ul class="d-flex m-0 align-items-center justify-content-between downul" style=" padding-left: 0;">
                <li><a href="https://www.rabitabank.com/ferdi-kreditler">Kreditlər</a></li>
                <li><a href="{{ url_for('individual_deposit') }}">Əmanətlər</a></li>
                <li><a href="{{ url_for('card_offer') }}">Kartmane</a></li>
                <li><a href="https://www.rabitabank.com/onlayn-xidmetler">Onlayn Xidmətlər</a></li>
                <li><a href="https://www.rabitabank.com/diger-xidmetler">Digər Xidmətlər</a></li>
                <li><a href="{{ url_for('campaigns') }}">Kampaniyalar</a></li>
                <li><a href="https://www.rabitabank.com/filiallar">Xidmət Şəbəkəsi</a></li>
                <li><a href="https://www.rabitabank.com/terefdaslar">Tərəfdaşlar</a></li>
                <li><a href="{{ url_for('onlayn_novbe') }}">Onlayn növbə</a></li>
            </ul>
        </div>
        <div>
            <ul class="d-flex m-0 align-items-center justify-content-between downul "
                style=" padding-left: 0; height: 20px;">
                <li style="color: #adb6bf;">EN</li>
                <li style="color: #adb6bf;">RU</li>
            </ul>
        </div>
    </div>
</header>
